[user]
	name = AKASHVENKAT
	email = akashvenkat.pala@tigeranalytics.com
[core]
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[pull]
	rebase = true
[rebase]
	autoStash = true
